node_modules/
dist/
build/
.env
.env.local
*.log
logs/
.DS_Store

# Flutter / Dart
mobile/dvpe_mobile/.dart_tool/
mobile/dvpe_mobile/.flutter-plugins
mobile/dvpe_mobile/.flutter-plugins-dependencies
mobile/dvpe_mobile/.packages
mobile/dvpe_mobile/build/
mobile/dvpe_mobile/android/.gradle/
mobile/dvpe_mobile/ios/Pods/
